:root {
    --header-height: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

*:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

#footer1, #footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    z-index: 1;
    background-color: #ddd;
    padding: 2px;
}

#footer1 div, #footer2 div {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
    font-weight: 900;
    font-size: 1.25rem;
}

#right {
    text-align: right;
}

header {
    z-index: 1000;
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    background-color: green;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    line-height: var(--header-height);
    height: var(--header-height)
}

label, input {
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 1px;
}

input {
    height: 2rem;
    min-width: 5rem;
    max-width: 10rem;
}

.input {
    margin-top: 5px;
}

button {
	min-width: 6rem;
	min-height: 2rem;
	border-radius: 20px;
	background-color: green;
	background-image: none;
	color: white;
	font-size: 1.2rem;
	padding: 0.2rem 1rem;
	line-height: 1.5rem;
}

button.input {
    width: 7.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#newDay {
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 29px;
    z-index: 100;
    background-color: red;
}

#newDay div.input {
    padding: 0 .5rem;
}

#newDay button.input {
    width: 10rem;
}

button:focus {
    background-color:darkgreen;
    font-weight: bold;
}

.list {
    position: relative;
    top: var(--header-height);
    width: 240px;
    bottom: 29px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.list .list-item {
	padding: 0 1rem;
	height: 3.3rem;
	font-size: 1.3rem;
	line-height: 3.3rem;
    transition: all .15s;
}

.list .list-item:focus {
    background-color: rgb(132, 212, 12);
    color: white;
    font-weight: 700;
}

#main {
    position: relative;
    display: flex;
    width: 480px;
    left: 0;
}

/* #details {
    background-color: red;
    position: relative;
    top: var(--header-height);
    width: 240px;
    bottom: 29px;
    display: flex;
    flex-direction: column;
} */

#details {
    background-color: white;
    position: absolute;
    transition: left 300ms;

}

#details .list-item {
    line-height: 3rem;
    height: 3rem;
}

#details .list-item.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* font-size: 20px; */
}

.list-item.note {
    /* font-size: 20px; */

    display: flex;
    flex-direction: column;
    line-height: 1.3rem;
}

.list-item.note .info {
    font-size: 1rem;
    line-height: 1.5rem;
}

.info {
    color: #444;
}

/*
.option-menu-container {
    z-index: 9999;
    width: 100%;
    position: absolute;
    top: var(--softkeybar-height, 2.6rem);
    bottom: var(--softkeybar-height, 29px);
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.option-menu-container .option-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 100%;
}

.option-menu-container .option-menu .header {
    padding: 0.5rem 1rem;
    background-color: green;
    color: white;
    text-align: center;
}

.h1 {
    font-size: 1.7rem;
    font-weight: 300;
}

.header {
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
    background-color: green;
    text-align: center;
    color: white;
}

.option-menu-container .option-menu .content {
    overflow-y: auto;
    background-color: white;
    color: black;
    font-size: 1.3rem;
}

.p-ul {
    font-size: 1.7rem;
    font-weight: 400;
}

.option-menu-container .option-menu .content .menu-item:focus {
    background-color: green;
    color: white;
}
.option-menu-container .option-menu .content .menu-item {
    min-height: 2rem;
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    box-sizing: border-box;
}
:focus {
    outline: none;
}*/